.dealName {
  color: white;
  font-weight: 500;
  font-size: 25px;
  text-align: start;
  margin-left: 9%;
  /* margin-top: 1rem; */
}
.cardContainer {
  /* border: 1px solid red; */
  width: 200px;
  height: 21.5rem;
  padding: 0rem 1.2rem;
  background-color: #121212;
  color: rgb(216, 216, 216);
  box-shadow: none !important;
  border-radius: 6px;
  cursor: pointer;
}
.cardContainer:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.cardContainer::after,
.cardContainer::before {
  box-sizing: border-box;
}
.wishList {
  font-size: 22px;
  font-weight: 500;
  margin-top: 1rem;
  position: relative;
  left: 48%;
  top: 0%;
  /* border: 1px solid red; */
}
.wishList:hover {
  color: rgb(7, 233, 158);
}
.prodImage {
  height: 10rem;
  width: 11.5rem;
}
.prodName {
  text-align: left;
  min-height: 40px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-weight: 500;
  text-transform: none;
}
.prodPrice {
  text-align: left;
  font-weight: 500;
}
.prodPrice span {
  color: gray;
  text-decoration: line-through;
  font-weight: 100;
}
.prodRating {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 1%;
  font-size: 14px;
  font-weight: 500;
  color: rgb(8, 199, 135);
}
@media screen and (max-width: 481px) {
  .dealName {
    font-size: 20px;
    margin-bottom: 1rem;
    margin-left: 4%;
  }
  .cardContainer {
    width: 260px;
    height: 19rem;
    padding: 0rem 1rem;
  }
  .wishList {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0.4rem;
    position: relative;
    left: 48%;
  }

  .prodImage {
    height: 8rem;
    width: 10rem;
  }
  .prodName {
    font-weight: 400;
    font-size: 16px;
  }
  .prodPrice {
    font-size: 14px;
    font-weight: 500;
  }
  .prodPrice span {
    font-size: 14px;
    font-weight: 100;
  }
  .prodRating {
    font-size: 14px;
  }
}
