section {
  color: white;
  font-weight: 500;
  font-size: 25px;
  text-align: start;
  margin-left: 9%;
  margin-bottom: 1.5rem;
}
.parentContainer {
  margin-left: 9%;
  width: 88%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin-bottom: 1.5rem;
}
.productCard {
  width: 250px;
  height: 21.2rem;
  padding: 0.2rem;
  background-image: radial-gradient(
    circle,
    #beb4c7,
    #bcb1d0,
    #b5b0da,
    #abafe5,
    #9caff0
  );
  color: black;
  box-shadow: none !important;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 1.2rem;
  /* border: 1px solid white; */
}
.newTag {
  background-color: rgb(250, 79, 108);
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  width: 65px;
  padding: 8px;
  position: relative;
  bottom: 5.8%;
  right: 1.3%;
  font-weight: 700;
  color: white;
}

.productCard:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.productCard::after,
.productCard::before {
  box-sizing: border-box;
}

.prodImage {
  height: 9rem;
  width: 11rem;
}
.prodName {
  text-align: center;
  min-height: 40px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-weight: 700;
  text-transform: none;
}
.prodPrice {
  text-align: center;
  font-weight: 500;
}
.prodPrice span {
  color: rgb(83, 83, 83);
  text-decoration: line-through;
  font-weight: 100;
}
.border {
  height: 32px;
  background-image: radial-gradient(
    circle,
    #9fa0a0,
    #9c9e9e,
    #999b9b,
    #969999,
    #939797
  );
  width: 100%;
  border: none;
}

@media screen and (max-width: 481px) {
  .dealName {
    font-size: 20px;
    margin-bottom: 1rem;
    margin-left: 4%;
  }
  .parentContainer {
    /* margin-left: 6%; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
  }
  .prodImage {
    height: 6rem;
    width: 6rem;
  }
  img[alt] {
    font-size: 16px;
  }
  .productCard {
    width: 160px;
    height: 16.5rem;
    padding: 0.2rem;
  }
  .border {
    display: none;
  }
  .newTag {
    position: relative;
    bottom: 6.6%;
    right: 2%;
    font-weight: 500;
    font-size: 14px;
    width: 54px;
    padding: 4px;
  }
  .prodName {
    font-weight: 550;
    font-size: 16px;
  }
  .prodPrice {
    font-size: 14px;
    font-weight: 500;
  }
  .prodPrice span {
    font-size: 14px;
    font-weight: 100;
  }
}
