.parentContainer {
  /* border: 1px solid red; */
  background-color: rgb(240, 240, 240);
  margin-top: 4.8rem;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h2 {
  /* color: black; */
  text-align: left;
  margin-left: 6%;
  padding-top: 2.5rem;
}
.cardContainer {
  /* border: 1px solid blue; */
  display: flex;
  gap: 2%;
  margin-bottom: 2rem;
}
.cartProd {
  /* border: 1px solid yellowgreen; */
  width: 60%;
  margin-left: 6%;
}
.couponSect {
  border-radius: 6px;
  background-color: rgb(252, 252, 252);
  border: none;
  display: flex;
  align-items: center;
  gap: 2%;
  font-weight: 700;
  padding: 0.4rem 2.5rem;
  margin-bottom: 2rem;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.couponSect div {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid black;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
}
.containerCard {
  width: 100%;
  /* height: 280px*/
  display: flex;
  background-color: rgb(252, 252, 252);
  margin-bottom: 1.5rem;
  border-radius: 6px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.imgSect {
  /* border: 1px solid red; */
  width: 18%;
  margin-left: 1%;
  margin-top: 4%;
}

.imgSect img {
  width: 11.5rem;
  height: 11rem;
  cursor: pointer;
}
.imgSect img[alt] {
  font-size: 10px;
}
.descrSect {
  /* border: 1px solid yellow; */
  width: 100%;
  color: black;
  cursor: pointer;
}
.prodName {
  /* border: 1px solid red; */
  width: 100%;
  text-align: left;
  line-height: 1.2;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-weight: 500;
  font-size: 17px;
}
.prodId {
  font-size: 16px;
}
.prodRating {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 1%;
  font-size: 12px;
  font-weight: 500;
  color: rgb(8, 199, 135);
}
.prodPrice {
  font-size: 16px;
  font-weight: 600;
}
.prodPrice span {
  font-size: 10px;
}
.discountPrice {
  color: gray;
  text-decoration: line-through;
  font-size: 13px;
  font-weight: 500;
}

.deliveryStat {
  font-size: 12px;
}

.deleteProdBtn {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
}
.deleteProdBtn:hover {
  cursor: pointer;
  border: 1px solid rgb(8, 199, 135);
}

/*--------------------- right part------------ */

.prodCheckOutDetails {
  width: 30%;
  /* border: 1px solid green; */
}
.deliveryDate {
  background-color: rgb(252, 252, 252);
  padding: 0.1rem 2rem;
  width: 72%;
  text-align: left;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.deliveryDate p:nth-child(1) {
  font-size: 17px;
  font-weight: 700;
}
.deliveryDate p:nth-child(1) span {
  font-size: 16px;
  color: rgb(0, 141, 94);
}

.deliveryDate div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 0.5rem;
}
.deliveryDate div span {
  font-size: 13px;
  font-weight: 600;
}
.orderSummary {
  background-color: rgb(252, 252, 252);
  border-radius: 6px;
  padding: 0.4rem 0.4rem;
  width: 88%;
  margin-bottom: 7%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.orderSummary > p:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}
.orderSummary > p:nth-child(2),
.orderSummary > p:nth-child(3),
.orderSummary > p:nth-child(4) {
  font-size: 17px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.orderSummary button {
  background-color: rgb(8, 199, 135);
  border-radius: 6px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 0.6rem 8.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.orderSummary button:hover {
  opacity: 0.8;
}
.cartLogo div {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  font-size: 1px;
}
.cartLogo img {
  width: 3rem;
}
.text {
  font-size: 7.5px;
}

@media screen and (max-width: 481px) {
  .parentContainer {
    margin-top: 5rem;
    /* margin-bottom: 4rem; */
    width: 100%;
  }
  h2 {
    text-align: left;
    margin-left: 4%;
    font-size: 18px;
    padding-top: 1rem;
  }
  .cardContainer {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
  }
  .cartProd {
    width: 97%;
    margin-left: 1%;
  }
  .couponSect {
    padding: 0.4rem 1.8rem;
  }
  .containerCard {
    width: 99%;
    height: 250px;
  }

  .imgSect {
    margin-left: 1%;
    margin-top: 2.5%;
    width: 22%;
  }
  .imgSect img {
    width: 6.8rem;
    height: 7rem;
  }
  .descrSect {
    padding-right: 0.4rem;
  }
  .prodName {
    font-weight: 500;
    font-size: 16px;
  }
  .prodId {
    font-size: 13px;
  }
  .prodRating {
    font-size: 12px;
    font-weight: 600;
  }
  .prodPrice {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
  }
  .prodPrice span {
    font-size: 10px;
  }
  .discountPrice {
    font-size: 12px;
    font-weight: 500;
  }
  .deliveryStat {
    font-size: 10px;
    margin: 0;
  }

  .deleteProdBtn {
    padding: 0.3rem 1rem;
  }

  .prodCheckOutDetails {
    width: 95%;
    margin-left: 2.8%;
    margin-bottom: 1.2rem;
    /* border: 1px solid green; */
  }
  .deliveryDate {
    padding: 0.1rem 1.5rem;
    width: 86%;
    margin-bottom: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .deliveryDate p:nth-child(1) {
    font-size: 16px;
  }

  .deliveryDate p:nth-child(1) span {
    font-size: 13px;
  }

  .deliveryDate div {
    padding-bottom: 0.2rem;
  }

  .deliveryDate div span {
    font-size: 14px;
  }

  .orderSummary {
    border-radius: 6px;
    padding: 0.4rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    /* width: 400px; */
  }
  .totalPrice {
    font-weight: 700;
  }
}
