.parent {
  /* border: 1px solid red; */
  width: 85%;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 4rem;
  display: flex;
}
.imageSect {
  margin-left: 2%;
  width: 50%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
}
.wishList {
  color: rgb(236, 236, 236);
  font-size: 25px;
  font-weight: 500;
  position: relative;
  left: 42%;
  top: 2%;
}
.wishList:hover {
  color: rgb(7, 233, 158);
  cursor: pointer;
}
.imageSect img {
  width: 24rem;
  height: 24rem;
}
.imgSlideContainer {
  /* border: 1px solid yellow; */
  display: flex;
  gap: 3%;
}
.imgSlideBox {
  border: 1px solid rgb(66, 66, 66);
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
}
.imgSlideBox img {
  width: 4.5rem;
  height: 4.5rem;
}
.decsriptionSect {
  width: 45%;
  /* border: 1px solid blue; */
  color: rgb(236, 236, 236);
  font-family: Arial, Helvetica, sans-serif;
}
.prodName {
  text-align: left;
  min-height: 20px;
  line-height: 1.2;
  overflow: hidden;
  -webkit-line-clamp: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 540;
}
.prodRating {
  display: flex;
  align-items: center;
  gap: 1%;
  font-size: 14px;
  font-weight: 600;
  color: rgb(8, 199, 135);
}
.prodRating span{
  text-decoration: underline;
  font-weight: 500;
}
.prodPrice {
  font-size: 24px;
  text-align: left;
  font-weight: 600;
}
.prodPrice span {
  font-size: 14px;
}
.discountPriceSect {
  border-top: 1px solid rgb(66, 66, 66);
  display: flex;
  align-items: center;
  gap: 1.5%;
}
.discountPrice {
  color: gray;
  text-decoration: line-through;
  font-weight: 500;
}
.discountPriceSect span {
  font-size: 13px;
  font-weight: 450;
}
.feature {
  border: 1px solid rgb(66, 66, 66);
  border-radius: 6px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: rgb(216, 216, 216);
}
.feature p {
  margin-left: 4%;
  font-size: 16px;
}
.feature ul li {
  margin-bottom: 0.5rem;
}
.careImg {
  margin: 1rem 1rem;
  /* margin-bottom: 1rem; */
  height: 85px;
  width: 480px;
  background-image: url("https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1696487707/Croma%20Assets/CMS/Zipcare/PDP_ZipCare_555_4oct2023_gu1cih.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
}
hr {
  border: 1px solid rgb(66, 66, 66);
}
.extndWarnty {
  /* border: 1px solid gray; */
  width: 94%;
  margin-top: 1rem;
  margin-left: 1rem;
  text-align: left;
  font-weight: 600;
}
.extndWarnty p:nth-last-child(1) {
  font-size: 13px;
}
.buttons {
  margin-top: 0.8rem;
  display: flex;
  gap: 4%;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}
.buttons button {
  padding: 0.8rem 4rem;
  border-radius: 6px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.buttons button:nth-child(1) {
  background-color: rgb(8, 199, 135);
  font-weight: 700;
}
.buttons button:nth-child(1):hover {
  opacity: 0.8;
}
.buttons button:nth-child(2) {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 700;
}
.buttons button:nth-child(2):hover {
  border: 1px solid rgb(8, 199, 135);
  opacity: 0.8;
}

.overview {
  border: 1px solid rgb(66, 66, 66);
  border-radius: 6px;
  color: rgb(216, 216, 216);
  width: 80%;
  margin: auto;
  text-align: left;
  padding: 0.2rem 2rem;
  margin-bottom: 1.5rem;
}
.overview h1 {
  font-size: 26px;
  font-weight: 700;
  text-decoration: underline;
}

@media screen and (max-width: 481px) {
  .parent {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 0;
    margin-top: 22%;
    margin-bottom: 2rem;
  }
  .imageSect {
    width: 95%;
  }
  .imageSect img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
  }
  .imgSlideBox img {
    width: 4.5rem;
    height: 4.5rem;
  }
  .decsriptionSect {
    width: 92%;
    padding: 1rem;
    /* border: 1px solid blue; */
  }
  .careImg {
    height: 61px;
    width: 340px;
  }
  .imgSlideContainer {
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    gap: 3%;
  }
  .overview {
    border: 1px solid grey;
    border-radius: 6px;
    color: rgb(216, 216, 216);
    margin: auto;
    text-align: left;
    margin-bottom: 1.5rem;
    width: 75%;
  }
  .overview h1 {
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
  }
  .buttons button {
    padding: 0.8rem 3rem;
    border-radius: 6px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
}
