.modalWindow {
  z-index: 1000;
  background-color: rgb(8, 8, 8);
  border-radius: 9px;
  width: 22%;
  padding: 1rem 5rem;
  /* transition: all 0.5s; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  box-shadow: 0 4rem 6rem #00000040;
  text-align: center;
  color: rgb(201, 201, 201);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}

.btn_close {
  color: rgb(201, 201, 201);
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 2.5rem;
  position: absolute;
  right: 1.6rem;
}
h1 {
  color: rgb(201, 201, 201);
}
.emailInp,
.passInp,
.userNameInp,
.signUpPassInp {
  width: 94%;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #fff;
  margin-top: 1rem;
  color: rgb(201, 201, 201);
  font-size: 16px;
  padding: 1rem 0.4rem;
}

.terms {
  font-size: 14px;
}
.terms span,
.switchSignUpPage span {
  color: rgb(8, 199, 135);
  text-decoration: underline;
}
.switchSignUpPage span {
  cursor: pointer;
}
.authBtn {
  background-color: rgb(8, 199, 135);
  border-radius: 6px;
  border: none;
  font-size: 15px;
  padding: 0.8rem 7.5rem;
  cursor: pointer;
}
.authBtn:hover {
  opacity: 0.8;
}
.isErr {
  color: orangered;
  font-size: 14px;
  font-weight: 500;
}
.isSuccessfull {
  color: rgb(2, 160, 2);
  font-size: 14px;
  font-weight: 500;
}
.loadingState {
  margin-left: 40%;
  width: 12%;
  /* border: 1px solid red; */
}

@media screen and (max-width: 481px) {
  .modalWindow {
    width: 49%;
  }
  .emailInp,
  .passInp,
  .userNameInp,
  .signUpPassInp {
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #fff;
    margin-top: 1rem;
    color: rgb(201, 201, 201);
    font-size: 13px;
    /* padding: 1rem 0.4rem; */
  }
  .authBtn {
    background-color: rgb(8, 199, 135);
    border-radius: 6px;
    border: none;
    font-size: 15px;
    padding: 0.8rem 4.6rem;
    cursor: pointer;
  }
  .terms,
  .switchSignUpPage {
    font-size: 12px;
  }
  .isErr,
  .isSuccessfull {
    font-size: 12px;
  }
}
