/* .sliderBox {
  border: 1px solid red;
  /* padding: 5rem; */
  /* margin-top: 2rem;
  width: 99.5%;
  height: 300px; */
/* } */

/* @media screen and (max-width:481px) {
    
    .sliderBox {
        height: 200px;
        width: 50%;
    }
        
}  */
